# Business Understanding

<H1 style="text-align: center;font-size:30px ; font-family: 'Times New Roman'; color:#00008B"> Project Title</H1><br>

In [7]:
<p style="text-align: center;font-size:25px ;font-weight: bold ; font-family: 'Times New Roman'"> Analysis of Funding Trends in the Indian Startup Ecosystem</p> <br>

SyntaxError: invalid syntax (1666663726.py, line 1)

Data Analysis is the process of inspecting, cleaning, processing and modeling data to extract meaningful information to make
decisions.This project uses a dataset about the indian start-up companies and their informations such as location,
year founded, company name, etc as well as their funding history from 2018 to 2021, To perform an exploratory data analysis 
and draw insights from useful information found

One of the great way for a good analysis work is to understand the business problem you are trying to solve.
For a better understanding of the problem, create an objective or a scenario to work around

### Aim
As an analyst of an investment company, investigate the indian startup ecosystem so that the company can make data driven
decisions about entering into the indian startup business

## Hypothesis

### Null Hpyothesis - Indian Start-ups in the technology industry are likely to receieve funding 

### Alternative Hypothesis -  indian startupsin the technology industry are not likely to receive funding

## Questions

##### 1. what are the top five sectors where funding is maximum?
##### 2. what is the highest type of investment made?
##### 3. what is the maximum amount of funding recieved by a startup?
##### 4. what are the top five startups which are investor's favourite?
##### 5. what is the total amount of funds each year?
##### 6. In which year did a startup recieve the highest amount of funding?

# Setup

## Installation
Here is the section to install all the packages/libraries that will be needed to tackle the challlenge.

## Importation
Here is the section to import all the packages/libraries that will be used through this notebook.

In [1]:
# Data handling
import pandas as pd
import numpy as np

# Vizualisation (Matplotlib, Plotly, Seaborn, etc. )
import matplotlib.pyplot as plt
import seaborn as sns
import re

# EDA (pandas-profiling, etc. )
...

# Feature Processing (Scikit-learn processing, etc. )
...

# Machine Learning (Scikit-learn Estimators, Catboost, LightGBM, etc. )
...

# Hyperparameters Fine-tuning (Scikit-learn hp search, cross-validation, etc. )
...

# Other packages
import os

# Data Loading
Here is the section to load the datasets (train, eval, test) and the additional files

In [2]:
# For CSV, use pandas.read_csv
data_2018 = pd.read_csv('startup_funding2018.csv')
data_2019 = pd.read_csv('startup_funding2019.csv')
data_2020 = pd.read_csv('startup_funding2020.csv')
data_2021 = pd.read_csv('startup_funding2021.csv')

# Exploratory Data Analysis: EDA
Here is the section to **inspect** the datasets in depth, **present** it, make **hypotheses** and **think** the *cleaning, processing and features creation*.

## Dataset overview

Have a look at the loaded datsets using the following methods: `.head(), .info()`

### Previewing Data sets and Providing Summary Information

### 2018 Dataset

In [3]:
data_2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [4]:
# Code here
data_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [5]:
print(data_2018.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB
None

In [6]:
pd.isnull(data_2018).sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [7]:
#Viewing the first 50 rows in the 2018 data
data_2018[:50]

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
5,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,1600000,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...
6,Tripshelf,"Internet, Leisure, Marketplace",Seed,"₹16,000,000","Kalkaji, Delhi, India",Tripshelf is an online market place for holida...
7,Hyperdata.IO,Market Research,Angel,"₹50,000,000","Hyderabad, Andhra Pradesh, India",Hyperdata combines advanced machine learning w...
8,Freightwalla,"Information Services, Information Technology",Seed,—,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...
9,Microchip Payments,Mobile Payments,Seed,—,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment a...
10,BizCrum Infotech Pvt. Ltd.,"B2B, Shoes",Seed,—,"Delhi, Delhi, India",Building Transactionary B2B Marketplaces
11,Emojifi,Internet,Seed,—,"Bengaluru, Karnataka, India","Emojifi is an app that provides live emoji, st..."
12,Flock,"Apps, Collaboration, Developer Platform, Enter...",Seed,—,"India, Asia",Flock is a real-time messaging and collaborati...
13,Freshboxx,Food Delivery,Seed,—,"Hubli, Karnataka, India","Freshboxx is incubated at Sandbox Startups, a ..."
14,Wide Mobility Mechatronics,Industrial Automation,Seed,—,"Bangalore, Karnataka, India",Wide Mobility Mechatronics is a Private Compan...
15,Pitstop,"Automotive, Search Engine, Service Industry",Seed,"₹100,000,000","Bengaluru, Karnataka, India",Pitstop offers general repair and maintenance ...
16,Mihuru,"Finance, Internet, Travel",Seed,150000,"Mumbai, Maharashtra, India",Mihuru is an online platform which gives micro...
17,Fyle,"Accounting, Business Information Systems, Busi...",Seed,1100000,"Bengaluru, Karnataka, India",Fyle is an intelligent expense management plat...
18,AppWharf,"Artificial Intelligence, Product Search, SaaS,...",Seed,—,"New Delhi, Delhi, India",Appwharf is an intelligent assistant that help...
19,Antariksh Waste Ventures Pvt ltd,"Internet of Things, Waste Management",Seed,"₹500,000","Chennai, Tamil Nadu, India",Waste Management for Smart Cities
20,Cogoport,"Air Transportation, Freight Service, Logistics...",Series A,6000000,"Mumbai, Maharashtra, India",Cogoport is a platform that provides freight b...
21,PaisaDukan,Financial Services,Seed,650000,"Mumbai, Maharashtra, India",A P2P lending marketplace platform
22,Sleepy Owl Coffee,Food and Beverage,Seed,"₹35,000,000","New Delhi, Delhi, India",Makers of a signature coffee that's exceptiona...
23,BlueJack,Autonomous Vehicles,Seed,"₹64,000,000","Delhi, Delhi, India",Delhi-based online used vehicles marketplace.
24,PregBuddy,"Enterprise Software, Health Care, Hospital, Pa...",Seed,—,"Bengaluru, Karnataka, India",PregBuddy is a smart connected care platform f...
25,AgNext Technologies,"Agriculture, Analytics, Big Data, Farming",Series A,—,"Mohali, Punjab, India",AgNext is an agricultural sensing and solution...
26,Pando,"Logistics, Supply Chain Management",Seed,2000000,"Chennai, Tamil Nadu, India",A startup which digitizes logistics operations...
27,Mintifi,"Financial Services, Lending",Seed,2000000,"Mumbai, Maharashtra, India",Online lending startup based in Mumbai.
28,Carcrew,"Automotive, Marketplace, Online Portals",Seed,2000000,"Mumbai, Maharashtra, India",India's Online Auto Repair Marketplace
29,NicheAI,Artificial Intelligence,Angel,—,"Hyderabad, Andhra Pradesh, India",Early stage Artificial Intelligence (AI) start...
30,Chariot Tech,"Internet of Things, Telecommunications",Seed,"₹20,000,000","New Delhi, Delhi, India",Chariot Tech is an Internet of Things (IoT) st...
31,Ideal Insurance Brokers/ 121Policy.com,Insurance,Seed,1000000,"Kolkata, West Bengal, India",Ideal Insurance Broking is one of the leaders ...
32,Loanzen,Financial Services,Seed,—,"Bangalore, Karnataka, India",Loanzen helps small businesses get unsecured w...
33,Mojro Technologies,"Information Technology, Logistics, Supply Chai...",Seed,650000,"Bengaluru, Karnataka, India",Mojro envisions to be the world's largest tech...
34,Elemential,"Blockchain, Developer Tools, Enterprise Software",Seed,1000000,"Mumbai, Maharashtra, India","Blockchain Development Platform To Design, Run..."
35,Loadshare,"Industrial Automation, Logistics, Supply Chain...",Series A,5000000,"Bengaluru, Karnataka, India",LoadShare is India’s fastest growing logistics...
36,Yumlane,"Food and Beverage, Food Delivery, Snack Food",Series A,4000000,"Mumbai, Maharashtra, India",Food startup Yumlane operated by QwikPik Techn...
37,Kriger Campus,Education,Seed,"₹30,000,000","New Delhi, Delhi, India",A Education Start Up.
38,Pipa+Bella,"E-Commerce, Fashion, Jewelry, Retail",Series A,1000000,"Mumbai, Maharashtra, India",Pipa+Bella is an online store aimed at selling...
39,Kaleidofin,Financial Services,Seed,2800000,"Chennai, Tamil Nadu, India",A fintech platform.
40,Chakr Innovation,Renewable Energy,Seed,—,"New Delhi, Delhi, India",Chakr has developed the world’s first retro-fi...
41,IndigoLearn,"E-Learning, Education",Seed,150000,"Hyderabad, Andhra Pradesh, India",India's the premier education destination cate...
42,UClean,"Clean Energy, CleanTech, Laundry and Dry-cleaning",Seed,"₹40,000,000","India, Asia",UClean is a tech enabled laundry service provi...
43,Coutloot,"E-Commerce, Fashion, Mobile",Seed,1000000,"Mumbai, Maharashtra, India",The Fashion Re-commerce platform.
44,Letstrack,"Apps, Messaging, Navigation, Public Safety",Seed,1700000,"New Delhi, Delhi, India",Letstrack GPS tracking devices to track your k...
45,Pooltoo,Transportation,Seed,—,"New Delhi, Delhi, India",Pooltoo offers a premium ride sharing platform.
46,Finzy,"Financial Services, Lending",Seed,1300000,"Bangalore, Karnataka, India",finzy is the premier peer to peer lending solu...
47,Fitternity,"Fitness, Health Care, Wellness",Seed,2000000,"Mumbai, Maharashtra, India",India's largest online fitness platform that p...
48,Keito,"Artificial Intelligence, Machine Learning, Saa...",Seed,—,"Pune, Maharashtra, India",Building an Intelligent Digital Assistant.
49,Tolet for Students,Hospitality,Seed,"₹5,000,000","Jodhpur, Rajasthan, India","Reserve your Room, Hostel or Paying Guest, whi..."

## _From the above, we notice the following
### _-The amount columns contains different currencies as well as cells with "-"_
### _-The Industry columns is described using more than one phrase_
### _-The Location is described using more than one physical address._

### _To clean these, we will assume the Amounts without any signs are in dollars; thus convert the values in INP to USD and replace "-" with NaN

### 2019 Dataset

In [8]:
data_2019.head(10)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
5,FlytBase,NaN,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,Undisclosed,NaN
6,Finly,NaN,Bangalore,SaaS,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",Undisclosed,NaN
7,Kratikal,2013.0,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.","$1,000,000",Pre series A
8,Quantiphi,NaN,NaN,AI & Tech,It is an AI and big data services company prov...,Renuka Ramnath,Multiples Alternate Asset Management,"$20,000,000",Series A
9,Lenskart,2010.0,Delhi,E-commerce,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,"$275,000,000",Series G

In [9]:
data_2019.tail()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [10]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [11]:
pd.isnull(data_2019).sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

### 2020 Dataset

In [12]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1055 non-null   object
 1   Founded        843 non-null    object
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What it does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount($)      1052 non-null   object
 8   Stage          591 non-null    object
 9   Unnamed: 9     2 non-null      object
dtypes: object(10)
memory usage: 82.5+ KB

### 2021 Dataset

In [13]:
print(data_2021.info(),'\n')
data_2021

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What it does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount($)      1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB
None

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

###  Observations from previewing the datasets
**The 2018 DataFrame**
- The columns in 2018 are different from those of 2019 - 2021, meaning they have to be renamed for concatenation.
- The amounts in the 2018 DataFrame are a mix of Indian Rupees (INR) and US Dollars (USD), meaning they have to be converted into same currency.
- The industry and location columns have multiple information. A decision is to be made between selecting the first value before the separator(,) as the main value, or representing that column with a wordcloud.

**The 2019 DataFrame**
- The datatype of the "Founded" column is set to float64. It should be set to a string for uniformity.
- The headquarter column has multiple information. A decision is to be made between selecting the first value before the separator(,) as the main value, or representing that column with a wordcloud.

**The 2020 DataFrame**
- There is an extra column called "Unnamed:9", giving it a total of 10 columns. It should be dropped to ensure complete alignment with the other DataFrames for ease of concatenation.

**The 2021 DataFrame**
- The datatype of the "Founded" column is set to float64. It should be set to a string for uniformity.
- There are some cells that have null values, "Amount" has 3 null cells

**General Observations**
- The currency signs and commas have to be removed from each of amount column for each DataFrame.

### Assumptions

- The 2022 average INR/USD rate will be used to convert the Indian Rupee values to US Dollars in the 2018 DataFrame.
- First values of industry and location in the 2018 data will be selected as the primary sector and headquarters respectively.
- Amounts without currency symbols are assumed to be in USD ($)
- Financial analysis will be narrowed to transactions whose amounts are available in the loaded data.